accelerate==1.1.1
anthropic==0.45.2
fireworks_ai==0.15.8
huggingface_hub==0.26.2
inflect==7.5.0
litellm==1.61.5
networkx==3.3
numpy==1.26.4
openai==1.63.0
pandas==2.2.3
Pillow==11.1.0
protobuf==5.29.3
python-dotenv==1.0.1
PyYAML==6.0.2
scikit_learn==1.6.1
scipy==1.15.1
torch==2.5.1
tqdm==4.67.0
transformers==4.46.2
vllm==0.6.6.post1
